


<h1 class="text-center">{{media.title}}</h1>

<section class="container">
  <section class="row">

  <hr />

  <section ng-show="media.audio.url">
    <audio controls ng-src="{{media.audio.url}}" media:element style="width:100%;height:100%;">
      <!-- <source ng&#45;src="{{media.audio.url}}" type='audio/ogg' /> -->
    </audio>
  </section>

  <hr />

  <section ng-show="media.video.url">
    <video controls ng-src="{{media.video.url}}" media:element style="width:100%;height:100%;">
      <!-- <source ng&#45;src="{{media.audio.url}}" type='audio/ogg' /> -->
    </video>
  </section>

  <hr />

  {{media}}

  <hr />


  </section>
</section>
