<h1>Backend::Medias#destroy</h1>
<p>Find me in app/views/backend/medias/destroy.html.erb</p>
<div class="container">
  <div class="row">

    <%= render partial: "create_form", locals: {media: @media}  %>

    <%= link_to t('medias.buttons.back'), backend_practice_medias_path, class: "row btn btn-success" %>

  </div>
</div>
