

<section class="well home">

  <h1>Yogic Sadhana</h1>

  <%= link_to "Backend", backend_courses_path, class: "btn btn-success" %>
  <%= link_to "Frontend", frontend_course_index_path, class: "btn btn-info" %>

</section>

<div class="small-spacer"></div>



