

<!-- <div ng&#45;show="user.signedIn" class="text&#45;center"> -->
<!--   <p>{{user}}</p> -->
<!-- </div> -->

<h1 class="text-center" style="font-size: 3em;">{{i18n_translations.courses.buttons.list_title}}</h1>

<div class="big-spacer"> </div>

<div class="container">
  <div class="row frontpage">
    <div ng-repeat="course in courses">
      <div class="col-md-3" >

        <a ui-sref="ys.course.chapters({courseId: course.id})">
          <div class="well">
            <img ng-src="{{course.picture.url}}" class="img-thumbnail"/>
            <h2 class="text-center">{{course.title}}</h2>
            <p class="text-center">
            {{course.description}}
            </p>
          </div>
        </a>

      </div>
    </div>
  </div>
</div>



