
<h1 class="text-center">{{i18n_translations.chapters.buttons.list_title}}</h1>

<div class="big-spacer"></div>

<div class="container">
  <div class="row frontpage">

    <div ng-repeat="chapter in chapters">

      <div class="col-xs-4">
        <a ui-sref="ys.course.chapter({chapterId: {{chapter.id}} })" ui-sref-active="active">
          <div class="well">
            <!--  IMG            -->
            <h4>
              {{chapter.title}}
            </h4>
            <p>
              {{chapter.description}}
            </p>
          </div>
        </a>
      </div>

    </div>

  </div>
</div>
