
<section class="container-fluid">

<h1 class="text-center">{{theory.title}}</h1>

<p class="text-center">{{theory}}</p>

<h4>
  <a ui-sref="ys.course.chapter.theory.medias">{{i18n_translations.medias.buttons.list_title}}</a>
</h4>

<ul ng-repeat="media in medias">
  <li>
    <div class="well">

      <a ui-sref="ys.course.chapter.theory.media({ mediaId: {{media.id}} })"><i ng-class="media.media_type == 'audio' ? 'fa fa-music' : 'fa fa-film'"></i>&nbsp;{{media}}</a>

      <!-- <hr /> -->
      <!--  -->
      <!-- <section ng&#45;show="media.audio.url"> -->
      <!--   <audio controls ng&#45;src="{{media.audio.url}}" media:element style="width:100%;height:100%;"> </audio> -->
      <!-- </section> -->
      <!--  -->
      <!-- <hr /> -->
      <!--  -->
      <!-- <section ng&#45;show="media.video.url"> -->
      <!--   <video controls ng&#45;src="{{media.video.url}}" media:element style="width:100%;height:100%;"> </video> -->
      <!-- </section> -->
      <!--  -->
      <!-- <hr /> -->

    </div>

  </li>
</ul>

</section>

