
<div class="container chapter">

  <h1 class="text-center">{{chapter.title}}</h1>
  <div class="sm-padding-bottom"> </div>

  <div class="row">

    <div class="col-md-6">
      <h4 class="text-center"><a ui-sref="ys.course.chapter.theories">{{i18n_translations.breadcrumbs.theories}}</a></h4>
      <ul ng-repeat="theory in theories">
        <li class="well">
          <h4>
            <a ui-sref="ys.course.chapter.theory({theoryId: {{theory.theory.id}} })">{{theory.theory.title}}</a>
          </h4>
          <ul ng-repeat="media in theory.medias">
            <li>
            <a ui-sref="ys.course.chapter.theory.media({theoryId: {{media.mediumable_id}}, mediaId: {{media.id}} })"><i ng-class="media.media_type == 'audio' ? 'fa fa-music' : 'fa fa-film'"></i>{{media.title}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <h4 class="text-center"><a ui-sref="ys.course.chapter.practices">{{i18n_translations.breadcrumbs.practices}}</a></h4>
      <ul ng-repeat="practice in practices">
        <li class="well">
          <h4>
            <a ui-sref="ys.course.chapter.practice({practiceId: {{practice.practice.id}} })">{{practice.practice.title}}</a>
          </h4>
          <ul ng-repeat="media in practice.medias">
            <li>
            <a ui-sref="ys.course.chapter.practice.media({practiceId: {{media.mediumable_id}}, mediaId: {{media.id}} })"><i ng-class="media.media_type == 'audio' ? 'fa fa-music' : 'fa fa-film'"></i>{{media.title}}</a>
            </li>
          </ul>
          </li>
      </ul>
    </div>


  </div>
</div>
