
<div class="container">
  <div class="row">

    <h1 class="text-center">{{chapter.title}}</h1>
    <h2><a ui-sref="ys.course.chapter.theories">{{i18n_translations.theories.buttons.list}}</a></h2>
    <ul ng-repeat="theory in theories">
      <li class="well">
        <a ui-sref="ys.course.chapter.theory({theoryId: {{theory.theory.id}} })">{{theory.theory.title}}</a>
        {{theory}}
        <ul ng-repeat="media in theory.medias">
          <li>
          <a ui-sref="ys.course.chapter.theory.media({theoryId: {{media.mediumable_id}}, mediaId: {{media.id}} })">{{media.title}}</a>
          {{media}}
          </li>
        </ul>
      </li>
    </ul>

    <h2><a ui-sref="ys.course.chapter.practices">{{i18n_translations.practices.buttons.list}}</a></h2>
    <ul ng-repeat="practice in practices">
      <li class="well">
        <a ui-sref="ys.course.chapter.practice({practiceId: {{practice.practice.id}} })">{{practice.practice.title}}</a>
        {{practice}}
        <ul ng-repeat="media in practice.medias">
          <li>
          <a ui-sref="ys.course.chapter.practice.media({practiceId: {{media.mediumable_id}}, mediaId: {{media.id}} })">{{media.title}}</a>
          {{media}}
          </li>
        </ul>
        </li>
    </ul>


  </div>
</div>
