

<section class="container container-media">
  <section class="row">

  <h1 class="text-center">{{media.title}}</h1>

  <hr />

  <section class="text-center" ng-if="media.picture.url && !media.video.url">
    <img ng-src="{{media.picture.url}}" alt="image" class="img-thumbnail media-picture"/>
  <hr />
  </section>

  <section ng-if="media.audio.url">
    <audio controls ng-src="{{media.audio.url}}" media:element style="width:100%;height:100%;"> </audio>
    <hr />
    <button type="button" class="btn btn-lg btn-block btn-success" ng-click="togglePlay()">Play</button>
  </section>

  <section ng-if="media.video.url">
    <video controls ng-src="{{media.video.url}}" media:element style="width:100%;height:100%;">
    </video>
  </section>


  </section>
</section>

