
<section class="container-fluid">

<h1 class="text-center">{{theory.title}}</h1>

<p class="text-center">{{theory}}</p>

<h4>
  <a ui-sref="ys.course.chapter.theory.medias">{{i18n_translations.medias.buttons.list_title}}</a>
</h4>

<ul ng-repeat="media in medias">
  <li>
    <div class="well">
      <a ui-sref="ys.course.chapter.theory.media({ mediaId: {{media.id}} })"><i ng-class="media.media_type == 'audio' ? 'fa fa-music' : 'fa fa-film'"></i>&nbsp;{{media.title}}</a>
    </div>
  </li>
</ul>

</section>

