
<div snap-drawer>
  <nav id="menu" class="left">
  <ul>

    <li> <h4 class="text-center" style="color: red;"> {{$state.current.name}} </h4> </li>

    <li ng-hide="$state.current.name == 'ys.courses'"><a ui-sref="ys.courses" ui-sref-active="active"><i class="fa fa-home"></i>{{i18n_translations.courses.buttons.list_title}}</a></li>

    <li ng-hide="$state.current.name == 'ys.course.chapters' || $state.current.name == 'ys.courses'"><a ui-sref="ys.course.chapters" ui-sref-active="active"><i class="fa fa-home"></i>{{i18n_translations.chapters.buttons.list_title}}</a></li>

    <li>
    <a href="#" nav:back><i class="fa fa-chevron-circle-left"></i>{{i18n_translations.chapters.buttons.back}}</a>
    </li>

    <li ng-show="$state.current.name == 'ys.courses'">
      <a href="#"><i class="fa fa-list"></i>{{i18n_translations.breadcrumbs.courses}}<i class="fa fa-caret-down"></i></a>
      <ul>
        <li ng-repeat="course in courses">
        <a ui-sref="ys.course.chapters({courseId: course.id})" ui-sref-active="active"><i class="fa fa-coffee"></i>{{course.title}}</a>
        </li>
      </ul>
    </li>

    <li ng-show="$state.current.name == 'ys.course.chapters'">
      <a href="#"><i class="fa fa-list"></i>{{i18n_translations.breadcrumbs.chapters}}<i class="fa fa-caret-down"></i></a>
      <ul>
        <li ng-repeat="chapter in chapters">
          <a ui-sref="ys.course.chapter({ chapterId: {{chapter.id}} })" ui-sref-active="active"><i class="fa fa-coffee"></i>{{chapter.title}}</a>
        </li>
      </ul>
    </li>

    <li ng-show="$state.current.name == 'ys.course.chapter' || $state.current.name == 'ys.course.chapter.theories' ">
      <a href="#"><i class="fa fa-pencil"></i>{{i18n_translations.breadcrumbs.theories}}<i class="fa fa-caret-down"></i></a>
      <ul>
        <li ng-repeat="theory in theories">
          <a ui-sref="ys.course.chapter.theory({ theoryId: {{theory.theory.id}} })"><i class="fa fa-magic"></i>{{theory.theory.title}}</a>
        </li>
      </ul>
    </li>

    <li ng-show="$state.current.name == 'ys.course.chapter' || $state.current.name == 'ys.course.chapter.practices' ">
    <a href="#"><i class="fa fa-plane"></i>{{i18n_translations.breadcrumbs.practices}}<i class="fa fa-caret-down"></i></a>
    <ul>
      <li ng-repeat="practice in practices">
        <a ui-sref="ys.course.chapter.practice({ practiceId: {{practice.practice.id}} })"><i class="fa fa-magic"></i>{{practice.practice.title}}</a>
       </li>
      </ul>
    </li>

  </ul>
  </nav>
</div>

<script type="text/javascript" charset="utf-8">
  $("#menu a").click(function(event){
    event.preventDefault();
    if($(this).next('ul').length){
      $(this).next().toggle('fast');
      $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
    }
  });
</script>
