
<nav class="navbar navbar-default navbar-static-top navbar-inverse nav-custom">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Yogic Sadhana</a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"> </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
        <span class="country_flags">
          <a href="javascript:void(0);" class="lang fr">
            France
          </a>
          <a href="javascript:void(0);" class="lang en">
            England
          </a>
        </span>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>


<!-- Menu Bar -->
<section ui-view="left_menu"></section>

<!-- Main Content -->
<div snap-content class="snapjs_content" >
  <div snap-toggle="" class="toggler"> </div>
  <section ui-view="main_content"></section>
</div>




