
<div class="container">
  <div class="row">

    <%= render partial: "edit_form", locals: {chapter: @chapter} %>

    <%= link_to "Back", backend_chapter_path(@chapter), class: "row btn btn-success" %>

  </div>
</div>
