
<div class="container">
  <div class="row">

    <%= render partial: "edit_form", locals: {chapter: @chapter} %>
    <%= link_to t('chapters.buttons.back_to_chapter_description'), backend_chapter_path(@chapter), class: "row btn btn-success" %>
    <%= link_to t('chapters.buttons.back_to_chapters_list'), backend_chapters_path, class: "row btn btn-info", style: "margin-left:20px" %>

  </div>
</div>
