
<%= link_to t('chapters.buttons.create_chapter'), new_backend_course_chapter_path, class: "btn btn-success" %>

<h1><%= t('chapters.buttons.list') %></h1>

<%= render 'chapters_list' %>

<%= link_to t('chapters.buttons.back_to_chapters_list'), backend_course_path(params["course_id"]), class: "btn btn-warning" %>
