
<div class="container">
  <div class="row">

    <%= render partial: "create_form" %>

    <%= link_to t('chapters.buttons.back'), backend_course_chapters_path, class: "row btn btn-success" %>

  </div>
</div>
