
<h1>Create new chapter</h1>

<div class="container">
  <div class="row">

    <%= render partial: "create_form" %>

    <%= link_to "Back", backend_chapters_path, class: "row btn btn-success" %>

  </div>
</div>
