<div class="big-spacer"></div>

<h1 class="text-center">A Systematic Course in the Ancient Tantric System of Yoga</h1>

<div class="big-spacer"></div>

<div class="container">
  <div class="row frontpage">

    <% @courses.each do |course| %>

      <div class="col-md-4">
        <%= link_to frontend_course_path(course) do %>
          <div class="well">
            <%= image_tag course.picture, class: "img-thumbnail" %>
            <h1 class="text-center"><%= course.title %></h1>
          </div>
        <% end %>
      </div>

    <% end %>

  </div>
</div>
