

<base href="<%= request.original_url %>">

<section ng-app="yogicSadhana">
  <section ng-controller="MainController" ng-init="init('<%= @course.id %>')">

  <div class="row">

    <div snap-drawer>
      <nav id="menu" class="left">
      <ul>
        <li><a ui-sref="chapters" ui-sref-active="active"><i class="fa fa-home"></i>Chapters List</a></li>
        <li><a href="#"><i class="fa fa-info-circle"></i>About</a></li>
        <li> <a href="#"><i class="fa fa-laptop"></i>Services <i class="fa fa-caret-down"></i></a>
        <ul>
          <li><a href="#">Service</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Service</a></li>
        </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-laptop"></i>Chapters<i class="fa fa-caret-down"></i></a>
          <ul>
            <li ng-repeat="chapter in chapters">
              <a href="#">{{chapter.title}}</a>
            </li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-phone"></i>Contact</a></li>
      </ul>
      </nav>
    </div>

    <div snap-content class="snap_content" snap-options="snap_opts">

      <button snap-toggle="" class="toggle_button"><i class="fa fa-align-justify"></i></button>

      <section ui-view></section>

    </div>

  </div>

  </section>
</section>

<script type="text/javascript" charset="utf-8">
  $("#menu a").click(function(event){
      event.preventDefault();
      if($(this).next('ul').length){
      $(this).next().toggle('fast');
      $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
      }
      });
</script>
