

<base href="<%= request.original_url %>">

<section ng-app="yogicSadhana">

  <div class="row">

    <div ng-init="course_id='<%= @course.id %>'"></div>


    <!-- <div snap&#45;drawer> -->
    <!--   <nav id="menu" class="left"> -->
    <!--   <ul> -->
    <!--     <li><a ui&#45;sref="course.chapters" ui&#45;sref&#45;active="active"><i class="fa fa&#45;home"></i>Chapters List</a></li> -->
    <!--     <li> -->
    <!--       <a href="#"><i class="fa fa&#45;laptop"></i>Chapters<i class="fa fa&#45;caret&#45;down"></i></a> -->
    <!--       <ul> -->
    <!--         <li ng&#45;repeat="chapter in chapters"> -->
    <!--           <a ui&#45;sref="course.chapter_show({ chapterId: {{chapter.id}} })" ui&#45;sref&#45;active="active">{{chapter.title}}</a> -->
    <!--         </li> -->
    <!--       </ul> -->
    <!--     </li> -->
    <!--     <li ng&#45;if="theories"> -->
    <!--       <a href="#"><i class="fa fa&#45;laptop"></i>Theories<i class="fa fa&#45;caret&#45;down"></i></a> -->
    <!--       <ul> -->
    <!--         <li ng&#45;repeat="theory in theories"> -->
    <!--           <a href="#">{{theory.title}}</a> -->
    <!--         </li> -->
    <!--       </ul> -->
    <!--     </li> -->
    <!--   </ul> -->
    <!--   </nav> -->
    <!-- </div> -->
    <!-- <div snap&#45;content class="snap_content" snap&#45;options="snap_opts"> -->
    <!--   <button snap&#45;toggle="" class="toggle_button"><i class="fa fa&#45;align&#45;justify"></i></button> -->
    <!--   <section ui&#45;view></section> -->
    <!-- </div> -->


    <!-- <section ui&#45;view='left_menu'></section> -->
    <!-- <section ui&#45;view='main'></section> -->
    <section ui-view></section>

  </div>

</section>

<script type="text/javascript" charset="utf-8">
  // $("#menu a").click(function(event){
  //     event.preventDefault();
  //     if($(this).next('ul').length){
  //     $(this).next().toggle('fast');
  //     $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
  //     }
  //     });
</script>
