




<base href="<%= request.original_url %>">

<section ng-app="yogicSadhana">
  <div class="row">

    <div ng-init='course_id="<%= @course.id %>"'></div>
    <section ui-view></section>

  </div>
</section>


