

<script src="//mrgamer.github.io/angular-media-player/dist/angular-media-player.min.js" type="text/javascript"></script>

<base href="<%= request.original_url %>">

<section ng-app="yogicSadhana">
  <div class="row">

    <div ng-init='course_id="<%= @course.id %>"'></div>
    <section ui-view></section>

  </div>
</section>


