// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#admin_nav{
  float: right;
}

.home{
  text-align: center;
  margin-top: 150px;
}

.small-spacer{
  margin-top: 10px;
}

.big-spacer{
  margin-top: 70px;
}

span.country_flags{
  position: relative;
  top: 14px;
  img{
    margin-right: 3px;
  }
}


div.form-group.audio, div.form-group.video{
  display: none;
}

.sm-padding-bottom{
  padding-bottom: 20px;
}
.md-padding-bottom{
  padding-bottom: 40px;
}
.lg-padding-bottom{
  padding-bottom: 60px;
}
