
span.country_flags{
  position: relative;
  top: 14px;
  img{
    margin-right: 3px;
  }
}

nav.nav-custom{
  opacity: 0.8;
}

section.video_box{
  height: 700px;
  position: relative;
  float: left;
  width: 100%;
  background-image: url(/assets/bg.png);
  background-size: cover;
}
video#bgvid {
  /* opacity: 0.8; */
  position: absolute;
  left: 0;
  bottom: 0;
  float: left;
  width: 100%;
  height: auto;
}

section.home{
  margin-top: 30px;
  text-align: center;
}

section.landing{
  position: absolute;
  top: 30%;
  left: 25%;
  article.welcome-text{
    color: gold;
    h1{
      font-size: 4em;
    }
    p{
      font-size: 1.8em;
    }
  }
}

article.arrow-dw{
  text-align: center;
  position: relative;
  bottom: 8em;
  color: white;
  -moz-transform: scale(3);
  -webkit-transform: scale(3);
  transform: scale(3);
}

@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body{
  font-family: 'Raleway', sans-serif;
  a{
    color: #364150;
    &:hover{
      text-decoration: none;
    }
  }
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
