

.player-control {
  margin-bottom: 10px;
}

.btn-noclick {
  cursor: default;
}

.progress {
  margin: 6px 0 12px 0;
  height: 20px;
}

.progress .time {
  position: absolute;
  left: 50%;
  color: grey;
  font-weight: 400;
}



