// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#admin_nav{
  float: right;
}

.small-spacer{
  margin-top: 10px;
}

.home{
  text-align: center;
  margin-top: 150px;
}
